[Unit]
Description=Automatic timer for helping lennart reinvent new things
After=network.target

[Timer]
OnActiveSec=0
OnUnitActiveSec=1h

[Install]
WantedBy=multi-user.target
