[Unit]
Description=Help lennart reinvent new things
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/poettering-bot
WorkingDirectory=/etc/poettering-bot

[Install]
WantedBy=multi-user.target
